.container {
  display: flex;
  flex-direction: column;
  text-align: center; /* Center the content horizontally */
  padding: 40px; /* Add some padding around the content */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  /* margin-bottom: 30vh; */
}
.heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 80px;
}

.title1 {
  font-size: 1.7rem; /* Adjust the size as needed */
  font-weight: bolder;
  font-family: "Inter", sans-serif; /* Use Inter font for the title */
  color: #fff; /* Customize the color */
}
.title2 {
  font-size: 1.7rem; /* Adjust the size as needed */
  font-weight: bold;
  font-family: "Inter", sans-serif; /* Use Inter font for the title */
  color: #fff; /* Customize the color */
  position: relative;
  left: 20%;
}

.paragragh {
  max-width: 710px;
  margin: auto auto;
  /* display: inline-block; */
  margin: 1rem;
  padding: 12px 24px; /* Add some padding to the button */
  font-size: 1.1rem; /* Adjust the size as needed */
  color: #fff; /* Customize the text color */
  /* text-align: left; */
}

.pie {
  margin-left: 20px;
  margin-right: 20px;
  width: 240px;
  height: 240px;
}

.titleFlex {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.landingFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.lowerFlex {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  align-items: center;
  justify-content: space-between;
}
.lowerHeader {
  margin-top: 12vh;
  color: #fff;
  font-size: 2.5rem; /* Adjust the size as needed */
  font-weight: bold;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .title1 {
    font-size: 2.8rem; /* Adjust the size as needed */
    font-weight: bold;
    font-family: "Inter", sans-serif; /* Use Inter font for the title */
    color: #fff; /* Customize the color */
  }
  .title2 {
    font-size: 2.8rem; /* Adjust the size as needed */
    font-weight: bold;
    font-family: "Inter", sans-serif; /* Use Inter font for the title */
    color: #fff; /* Customize the color */
    position: relative;
    left: 20%;
  }
}
/* laptop */
@media only screen and (min-width: 1024px) {
  .landingFlex {
    flex-direction: row;
    justify-content: space-between;
  }
  .title1 {
    font-size: 3rem; /* Adjust the size as needed */
    font-weight: bold;
    font-family: "Inter", sans-serif; /* Use Inter font for the title */
    color: #fff; /* Customize the color */
  }
  .title2 {
    font-size: 3rem; /* Adjust the size as needed */
    font-weight: bold;
    font-family: "Inter", sans-serif; /* Use Inter font for the title */
    color: #fff; /* Customize the color */
    position: relative;
    left: 20%;
  }
  .pie {
    margin-left: 60px;
    margin-right: 20px;
    width: 310px;
    height: 310px;
  }
  .signUpButton {
    margin: 20px 33%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .paragragh {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 10%;
  }
  .lowerFlex {
    /* justify-content: center; */
  }
}
/* laptop */
@media only screen and (min-width: 1440px) {
  .landingFlex {
    flex-direction: row;
    justify-content: space-between;
  }
  .title1 {
    font-size: 4.8rem; /* Adjust the size as needed */
    font-weight: bold;
    font-family: "Inter", sans-serif; /* Use Inter font for the title */
    color: #fff; /* Customize the color */
  }
  .title2 {
    font-size: 4.8rem; /* Adjust the size as needed */
    font-weight: bold;
    font-family: "Inter", sans-serif; /* Use Inter font for the title */
    color: #fff; /* Customize the color */
    position: relative;
    left: 20%;
  }
  .pie {
    margin-left: 60px;
    margin-right: 20px;
    width: 375px;
    height: 375px;
  }
  .signUpButton {
    margin: 20px 33%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .paragragh {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 10%;
  }
  .lowerFlex {
    /* justify-content: center; */
  }
}
