.container {
  display: flex;
  flex-direction: column;
  text-align: center; /* Center the content horizontally */
  padding: 40px; /* Add some padding around the content */
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  margin-bottom: 10vh;
  background-color: black;
}

.flexRow {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  /* justify-content: space-evenly; */
}
.paragraph {
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  margin: auto 10%;
  font-weight: bold;
}
.paragraph > span {
  font-style: italic;
}
.paragraphBottom {
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  margin: auto 10%;
  font-weight: bold;
  margin-bottom: 15px;
}
.flexCOL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: center; */
  margin: 1rem;
}
.flexCOL2 {
  margin-top: 7vh;
  justify-content: space-between;
}
.productBullet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  /* margin: 1rem; */
}
.productTitle {
  margin-left: 1rem;
}
.bulletRow {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1.3rem;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .flexRow {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .paragraph {
    font-size: 1.8rem;
    justify-content: center;
    align-items: center;
    margin: auto 10%;
    font-weight: bold;
  }
  .paragraph > span {
    font-style: italic;
  }
}
@media only screen and (min-width: 1024px) {
  .flexRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: space-evenly; */
  }
  .paragraph {
    font-size: 1.8rem;
    font-weight: bold;
    white-space: nowrap;
  }
  .paragraph > span {
    font-style: italic;
  }
}
