/* src/styles/styles.css */
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

/* Center content within a container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
