/* src/styles/styles.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* background-color: green; */
  position: fixed;
  top: 0;
  background-color: #0c1014;
  width: 100vw;
  z-index: 1000;
  align-items: center;
  color: #0c1014;
}
.navLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbarItem {
  margin: 0.6rem 1.2rem;
  color: #ffffff; /* Replace with your desired text color */
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: small;
  justify-content: space-between;
}
/* .sign {
  margin-left: auto;
  padding: 6px 7px;
  color: black;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 9999px;
} */
.logo {
  flex-shrink: 0;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .navbar {
    left: 0;
    display: flex;
    margin-left: 3rem;

    justify-content: space-between;
    padding: 1rem;
    /* background-color: green; */
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    align-items: center;
  }

  .navbarItem {
    margin: 0.2rem 1.2rem;
    color: #ffffff; /* Replace with your desired text color */
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: large;
    justify-content: right;
  }
  .sign {
    margin-left: auto;
    margin-right: 10px;
    /* margin: 1rem; */
    padding: 6px 15px; /* Add some padding to the button */
    /* color: black;  */
    background-color: #ffffff; /* Customize the button background color */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 9999px;
    align-items: right;
  }
}
/* Add additional styles for your components here */
